# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Node modules
node-modules

# Ignore other objects
.classpath
.project
*eclipse*
.gitkeep
gradlew
*.bat
*.cmd
*.class
*.war
*.jar
*.exe
*.log
log